extends starter
append styles
    // Custom styles for this template
    link(href='/stylesheets/signin.css', rel='stylesheet')
append body
    .container
        form.form-signin(role='form',action="/login", method="post")
            h2.form-signin-heading Please sign in
            label.sr-only(for='username') Username
            input#username.form-control(name='username',type='text', placeholder='username', required='', autofocus='')
            label.sr-only(for='password') Password
            input#password.form-control(name='password', type='password', placeholder='Password', required='')
            .checkbox
                label
                    input(type='checkbox', value='remember-me')
                    |  Remember me
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        p.form-signin If you haven't registered yet, please register #[a.form-sigin(href="/register") here]